/* 滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(246, 249, 252, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(44, 42, 42, 0.4) 100%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: rgb(66, 64, 64);
    background-color: var(--theme-color);
  }